<div class="flex flex-col h-screen">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="overflow-hidden grow"
      >Request to <span class="font-mono">/send/{{ id }}</span></span
    >
    @if (id) {
    <button
      mat-icon-button
      aria-label="Copy URL"
      ngxClipboard
      [cbContent]="cbUrl(id)"
      (cbOnSuccess)="onCopy($event)"
      (cbOnError)="onCopy($event)"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
    }
  </mat-toolbar>

  <!-- <mat-drawer-container class="example-container grow">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->
  <mat-sidenav-container class="example-sidenav-container grow" autosize>
    <mat-sidenav
      #snav
      mode="side"
      opened
      class="overflow-scroll overflow-x-hidden"
    >
      <mat-nav-list class="w-56">
        @for (event of events; track event.time) {
        <mat-list-item
          [activated]="event === selectedEvent"
          (click)="selectedEvent = event"
        >
          <span matListItemTitle>{{ event.method }}</span>
          <span matListItemLine>{{ event.time }}</span>
        </mat-list-item>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="overflow-scroll">
      @if (selectedEvent) {
      <div class="p-8">
        <h1>
          <span class="font-mono">{{ selectedEvent.method }}</span>
        </h1>
        <h4>{{ selectedEvent.time }}</h4>
        <app-request [requestEvent]="selectedEvent"></app-request>
      </div>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
