<div class="flex flex-col h-screen">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="overflow-hidden grow"
      >Request to <span class="font-mono">/send/{{ id }}</span></span
    >
    @if (id) {
    <button
      mat-icon-button
      aria-label="Copy URL"
      ngxClipboard
      [cbContent]="cbUrl(id)"
      (cbOnSuccess)="onCopy($event)"
      (cbOnError)="onCopy($event)"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
    }
  </mat-toolbar>

  <!-- <mat-drawer-container class="example-container grow">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->
  <mat-sidenav-container class="example-sidenav-container grow" autosize>
    <mat-sidenav #snav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
      <div class="flex flex-col h-full">
        <mat-nav-list class="overflow-auto overflow-x-hidden">
          @for (event of events; track event.time) {
          <mat-list-item
            [activated]="event === selectedEvent"
            (click)="selectedEvent = event"
          >
            <span matListItemTitle>{{ event.method }}</span>
            <span matListItemLine>{{
              event.time | date : "cccc HH:mm:ss.SSS"
            }}</span>
          </mat-list-item>
          }
        </mat-nav-list>
        <div class="grow"></div>
        <mat-divider></mat-divider>
        @if (!broken) {
        <div class="p-2 px-4">
          @if (hasConnection()) {
          <button
            class="w-full"
            mat-button
            color="accent"
            (click)="closeConnection()"
          >
            <mat-icon>close</mat-icon>
            Close
          </button>
          } @else {
          <button class="w-full" mat-button (click)="tryReopenConnection()">
            <mat-icon>sensors</mat-icon>
            Reopen
          </button>
          }
        </div>

        }
        <div class="p-2 px-4">
          <button class="w-full" mat-button color="accent" (click)="goHome()">
            <mat-icon>home</mat-icon>
            Go Home
          </button>
        </div>
        @if (!broken) {
        <div class="p-2 px-4">
          <button mat-button color="primary" (click)="openInfoSheet()">
            <mat-icon>info_outlined</mat-icon>
            Connection Info
          </button>
        </div>
        }
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="overflow-scroll">
      @if (selectedEvent) {
      <div class="p-8">
        <h1>
          <span class="font-mono">{{ selectedEvent.method }}</span>
        </h1>
        <h4>{{ selectedEvent.time }}</h4>
        <app-request [requestEvent]="selectedEvent"></app-request>
      </div>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
